<div class="container">
  <div class="row text-center pad-top ">
    <div class="col-md-12">
      <h2><strong>Uploading File</strong></h2>
    </div>
  </div>
  <div class="row  pad-top">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
      <hr />
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong> Procedure information </strong>
        </div>
        <div class="panel-body">
          <form action="/procedure/upload" enctype="multipart/form-data" method="POST">
            <div class="form-group input-group">
              <input type="text" name="proStudentNationalID" value="<%= procedure.proStudentNationalID %>" class="form-control" id="proStudentNationalID"  readonly="true"/>
              <span class="input-group-addon"></span>
            </div>
            <div class="form-group input-group">
              <input type="text" name="procedureType" value="<%= procedure.procedureType %>" class="form-control" id="procedureType" readonly="true"/>
              <span class="input-group-addon"></span>
            </div>
            <div class="form-group input-group">
              <input type="text" name="proRefNo" class="form-control" id="proRefNo" placeholder="Enter Procedure Reference No" />
              <span class="input-group-addon">*</span>
            </div>
            <div class="form-group input-group">
              <input type="file" name="proFilePath" multiple="multiple" required>
              <span class="input-group-addon">*</span>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-success" value="Confirm"></input>
              <input type="hidden" name="_csrf" value="<%= _csrf %>"></input>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>>
</div>
