<div class="container">
  <form action="/procedure/procedure-submit" method="POST" class="form-horizontal">
    <div class="panel panel-default">
      <div class="panel-heading">Search for a Student by NID</div>
      <div class="panel-body" style="padding: 2em">
        <div class="form-group">
          <label for="studentSearchByNID" class="help">National ID: </label>
          <div class="input-group input-group-sm col-xs-2">
            <input type="text" name="studentSearchByNID" class="form-control" id="studentSearchByNID" id="studentSearchByNID" placeholder="Student National ID" required />
            <span class="input-group-addon" id="sizing-addon3">*</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-sm col-xs-2">
            <input type="submit" class="btn btn-success" value="Search"></input>
            <input type="hidden" name="_csrf" value="<%= _csrf %>"></input>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
