<div class="container">
  <div class="row text-center pad-top ">
    <div class="col-md-12">
      <h2><strong>Showing Exist User Data</strong></h2>
    </div>
  </div>
  <div class="row  pad-top">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
      <hr />
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>   User Information </strong>
        </div>
        <div class="panel-body">
          <div class="form-group input-group">
            <input type="text" name="proID" class="form-control" id="proID" value="<%= procedure.proStudyCountryGroup %> - <%= procedure.id %>" readonly />
            <span class="input-group-addon"></span>
          </div>
          <div class="form-group input-group">
            <input type="text" name="proStudentNationalID" class="form-control" id="proStudentNationalID" value="<%= procedure.proStudentNationalID %>" readonly />
            <span class="input-group-addon"></span>
          </div>
          <div class="form-group input-group">
            <input type="text" name="procedureType" class="form-control" id="procedureType" value="<%= procedure.procedureType %>" readonly />
            <span class="input-group-addon"></span>
          </div>
          <div class="input-group">
            <a class="btn btn-warning" href="/procedure/search-to-create-new-procedure"> Back </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
