<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Personal Information</div>
    <div class="panel-body" style="padding: 2em">
      <div class="form-group">
        <label for="proStudentNationalID" class="help">Student NID: </label>
        <div class="input-group input-group-sm col-xs-2">
          <input type="text" name="proStudentNationalID" class="form-control" id="proStudentNationalID" value="<%= procedure.proStudentNationalID %>" readonly />
        </div>
      </div>
      <div class="form-group">
        <label for="proStudyCountryGroup" class="help">Country Group: </label>
        <div class="input-group input-group-sm col-xs-2">
          <input type="text" name="proStudyCountryGroup" class="form-control" id="proStudyCountryGroup" value="<%= procedure.proStudyCountryGroup %>" readonly />
        </div>
      </div>
      <div class="form-group">
        <label for="procedureType" class="help">Procedure Type: </label>
        <div class="input-group input-group-sm col-xs-2">
          <input type="text" name="procedureType" class="form-control" id="procedureType" value="<%= procedure.procedureType %>" readonly />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-sm">

        </div>
      </div>
    </div>
  </div>
</div>
