<div class="container">
  <div class="row text-center pad-top ">
    <div class="col-md-12">
      <h3><strong>Procedure System Signup Page</strong></h3>
    </div>
  </div>
  <div class="row  pad-top">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <hr />
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>   User Information </strong>
        </div>
        <div class="panel-body">
          <form ng-app="" action="/user/signup" method="POST" name="signup" role="form">
            <div>
              <span style="color:red" ng-if="signup.fullName.$dirty">
                <span ng-show="signup.fullName.$error.required">Full name is required.</span>
                <span ng-show="signup.fullName.$error.minlength">More characters are needed.</span>
              </span>
              <div class="form-group input-group">
                <input type="text" name="fullName" class="form-control" ng-minlength="8" ng-model="fullName" id="fullName" placeholder="Enter full name" required />
                <span class="input-group-addon">*</span>
              </div>
            </div>
            <div>
              <span style="color:red" ng-if="signup.email.$dirty">
                <span ng-show="signup.email.$error.required">Email address is required.</span>
                <span ng-show="signup.email.$error.email">Not a valid email address.</span>
              </span>
              <div class="form-group input-group">
                <input type="email" name="email" class="form-control" ng-model="email" id="email" placeholder="Enter Email Address" required />
                <span class="input-group-addon">*</span>
              </div>
            </div>
            <div>
              <span style="color:red" ng-if="signup.password.$dirty">
                <span ng-show="signup.password.$error.required">Password is required.</span>
                <span ng-show="signup.password.$error.minlength">Password must be at least 6 characters.</span>
              </span>
              <div class="form-group input-group">
                <input type="password" name="password" class="form-control" ng-minlength="6" ng-model="password" id="passowrd" placeholder="Your Password" />
                <span class="input-group-addon">*</span>
              </div>
            </div>
            <div>
              <span style="color:red" ng-if="signup.nationalid.$dirty">
                <span ng-show="signup.nationalid.$error.required">National ID is required.</span>
                <span ng-show="signup.nationalid.$error.minlength">National ID must be 12 digits.</span>
                <span ng-show="signup.nationalid.$error.maxlength">National ID must be 12 digits.</span>
              </span>
              <div class="form-group input-group">
                <input type="text" name="nationalid" class="form-control" ng-minlength="12" ng-maxlength="12" ng-model="nationalid" id="nationalid" placeholder="Your National ID" required />
                <span class="input-group-addon">*</span>
              </div>
            </div>
            <div>
              <span style="color:red" ng-if="signup.position.$dirty">
                <span ng-show="signup.position.$error.required">Position is required.</span>
              </span>
              <span style="color:red" ng-if="signup.department.$dirty">
                <span ng-show="signup.department.$error.required">Department is required.</span>
              </span>
              <div class="form-group input-group">
                <select name="position" class="form-control" id="position" ng-model="position" required>
                  <option value="">-Position-</option>
                  <option value="1"> Supervisor </option>
                  <option value="2"> Student Affairs </option>
                  <option value="3"> Monitoring </option>
                  <option value="4"> Director </option>
                  <option value="5"> Documentation </option>
                  <option value="6"> Data Entry </option>
                  <option value="7"> Scanning </option>
                </select>
                <span class="input-group-addon">*</span>
                <select name="department" class="form-control" id="department" ng-model="department" required>
                  <option value="">-Department-</option>
                  <option value="AL"> Public </option>
                  <option value="UI"> United Kingdom </option>
                  <option value="AU"> Australia </option>
                  <option value="CU"> Canada-United States </option>
                  <option value="TM"> Turkey-Malta </option>
                  <option value="EA"> Eastren Asia </option>
                  <option value="EE"> Eastren Europe </option>
                  <option value="WE"> Westren Europe </option>
                </select>
                <span class="input-group-addon">*</span>
              </div>
            </div>
            <div class="input-group">
              <input type="submit" class="co btn btn-success" ng-disabled="signup.$invalid" value="Create New Account"></input>
              <input type="hidden" name="_csrf" value="<%= _csrf %>"></input>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
