<div class="container">
  <form action="/user/signup" method="POST" lass="form-horizontal">
    <div class="form-group">
        <label class="col-sm-12" for="inputUserNID">User NID</label>
        <div class="col-sm-3"><input type="userNID" class="form-control" id="inputUserNID" placeholder="eg: 110000000000"></div>
    </div>
    <hr />
    <div class="form-group">
      <label class="col-sm-12">Name</label>
      <div class="col-sm-3"><input type="text" class="form-control" placeholder="000"><div class="help">Forename</div></div>
      <div class="col-sm-3"><input type="text" class="form-control" placeholder="000"><div class="help">Father name</div></div>
      <div class="col-sm-3"><input type="text" class="form-control" placeholder="1111"><div class="help">Grandfather name</div></div>
      <div class="col-sm-3"><input type="text" class="form-control" placeholder="123"><div class="help">Surname</div></div>
    </div>
  </form>
</div>
