<div class="container">
  <div class="jumbotron">
      <h1>Procedures System</h1>
      <h2> .. tracking outgoing documents inside the administration .. </h2>
      <a href="/user/new" class="btn btn-lg btn-success">Sign up now </a>
  </div>
</div>
